{% extends 'main/base_dashboard.html' %}
{% load static %}
{% block title %}
  LikeList
{% endblock %}
{% block extra_css %}
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="{% static 'main/css/user_list.css' %}">
{% endblock %}
{% block dashboard_content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="col-sm-4" style="width: 20px;"></th>
      <th scope="col" class="col-sm-4" style="width: 200px;">名前</th>
      <th scope="col" class="col-sm-2" style="width: 120px;">フォロワー</th>
      <th scope="col" class="col-sm-6">自己紹介</th>
    </tr>
    </thead>
    <tbody>
    {% for like in contents %}
      <tr>
        <td style="vertical-align: middle;">
          <a href="{% url 'main:like' like.twitter_user.pk %}" class="fas fa-1x fa-heart">
          </a>
        </td>
        <td scope="row" ><a href="https://twitter.com/{{ like.twitter_user.screen_name }}">{{ like.twitter_user.name }}</a></td>
        <td>{{ like.twitter_user.followers_count }}</td>
        <td>{{ like.twitter_user.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if contents.has_previous %}
        <li class="page-item">
          <a href="{% url 'main:like_list' 1 %}" class="page-link">1</a>
        </li>
      {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link">1</a>
      </li>
      {% endif %}
      {% if contents.number|add:"-5" >= 1 %}
        <li class="page-item">
          <a href="{% url 'main:like_list' contents.number|add:"-5" %}" class="page-link"><<</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link"><<</a>
        </li>
      {% endif %}
      {% if contents.has_previous %}
        <li class="page-item">
          <a href="{% url 'main:like_list' contents.previous_page_number %}" class="page-link"><</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link"><</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ contents.number }}</a>
      </li>
      {% if contents.has_next %}
        <li class="page-item">
          <a href="{% url 'main:like_list' contents.next_page_number %}" class="page-link">></a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">></a>
        </li>
      {% endif %}
      {% if contents.number|add:"5" <= contents.paginator.num_pages %}
        <li class="page-item">
          <a href="{% url 'main:like_list' contents.number|add:"5" %}" class="page-link">>></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">>></a>
        </li>
      {% endif %}
      {% if contents.has_next %}
        <li class="page-item">
          <a href="{% url 'main:like_list' contents.paginator.num_pages %}" class="page-link">{{ contents.paginator.num_pages }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">{{ contents.paginator.num_pages }}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
