{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block extra_css %}
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
{% endblock %}
{% block content %}
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Twitter Scouter</h3>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="{% url 'main:dashboard' %}#">Dashboard</a>
        </li>
        <li>
          <a href="{% url 'main:user_list' 1 %}">UserList</a>
        </li>
        <li>
          <a href="{% url 'main:like_list' 1 %}">LikeList</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item profile_img">
                <img src="{{ user_detail.profile_image_url }}">
              </li>
              <li class="nav-item active text-center">
                <div class="nav-link align-middle"><div class="name">{{ user_detail.name }}</div> <div class="screen_name">@{{ user_detail.screen_name }}</div></div>
              </li>
              <li class="nav-item logout-button-wrapper">
                <a class="nav-link logout-button" href="{% url 'main:signout' %}">ログアウト</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

{#      {% if messages %}#}
{#        <div class="notification is-info alert alert-primary">#}
{#          <button class="delete" type="button"></button>#}
{#          {% for message in messages %}#}
{#            <p> {{ message }}</p>#}
{#          {% endfor %}#}
{#        </div>#}
{#      {% endif %}#}

    <div class="container">
      {% block dashboard_content %}
      {% endblock %}
    </div>

    </div>
  </div>
{% endblock %}
{% block extra_js %}
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("#sidebar").mCustomScrollbar({
              theme: "minimal"
          });

          $('#sidebarCollapse').on('click', function () {
              $('#sidebar, #content').toggleClass('active');
              $('.collapse.in').toggleClass('in');
              $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
      });
  </script>
{##}
{#  <script type="text/javascript">#}
{#      // notificationを×押下で閉じれるように。#}
{#      for (const element of document.querySelectorAll('.notification > .delete')) {#}
{#          element.addEventListener('click', e => {#}
{#              e.target.parentElement.classList.add('is-hidden');#}
{#      });#}
{#      }#}
{#  </script>#}
{% endblock %}
