{% extends 'main/base_dashboard.html' %}
{% load static %}
{% block title %}
  UserList
{% endblock %}
{% block extra_css %}
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="{% static 'main/css/user_list.css' %}">
{% endblock %}
{% block dashboard_content %}
  {{ like_list }}
  <table class="table twitter-user-list">
    <thead>
    <tr>
      <th scope="col" style="width: 20px;"></th>
      <th scope="col" style="width: 200px;">名前</th>
      <th scope="col" style="width: 120px;">フォロワー</th>
      <th scope="col">自己紹介</th>
    </tr>
    </thead>
    <tbody>
    {% for user in contents %}
      <tr>
        <td class="align-middle like-td">
          <form name="like_form" action="{% url 'main:like' user.pk %}" method="post">
            {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.path }}">
            <button type="submit" class="button-as_like">
              {% if user.pk not in liked_user %}
                <i class="fas fa-1x fa-heart like-deactive"></i>
              {% else %}
                <i class="fas fa-1x fa-heart like-active"></i>
              {% endif %}
            </button>
          </form>
        </td>
        <td class="align-middle twitter-name" scope="row" ><a href="https://twitter.com/{{ user.screen_name }}">{{ user.name }}</a></td>
        <td class="align-middle">{{ user.followers_count }}</td>
        <td class="align-middle">{{ user.description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if contents.has_previous %}
        <li class="page-item">
          <a href="{% url 'main:user_list' 1 %}" class="page-link">1</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">1</a>
        </li>
      {% endif %}
      {% if contents.number|add:"-5" >= 1 %}
        <li class="page-item">
          <a href="{% url 'main:user_list' contents.number|add:"-5" %}" class="page-link"><<</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link"><<</a>
        </li>
      {% endif %}
      {% if contents.has_previous %}
        <li class="page-item">
          <a href="{% url 'main:user_list' contents.previous_page_number %}" class="page-link"><</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link"><</a>
        </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="#">{{ contents.number }}</a>
      </li>
      {% if contents.has_next %}
        <li class="page-item">
          <a href="{% url 'main:user_list' contents.next_page_number %}" class="page-link">></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">></a>
        </li>
      {% endif %}
      {% if contents.number|add:"5" <= contents.paginator.num_pages %}
        <li class="page-item">
          <a href="{% url 'main:user_list' contents.number|add:"5" %}" class="page-link">>></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">>></a>
        </li>
      {% endif %}
      {% if contents.has_next %}
        <li class="page-item">
          <a href="{% url 'main:user_list' contents.paginator.num_pages %}" class="page-link">{{ contents.paginator.num_pages }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">{{ contents.paginator.num_pages }}</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}
